<!-- <form action="<%= user_url(@user) %>" method="post" enctype="multipart/form-data">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
  <input type="file" name="user[photo]" value="">
  <input type="text" name="user[username]" value="<%= @user.username %>" placeholder="username">
  <input type="text" name="user[user_desc]" value="<%= @user.user_desc %>" placeholder="anything about self">

  <input type="submit" name="" value="Update">
</form> -->

<%= form_for(@user, url: { action: "update" },  multipart: true) do |f| %>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  
  <div class="field">
    <%= f.label :user_desc %>
    <%= f.text_field :user_desc %>
  </div>
  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit 'update' %>
  </div>
<% end %>