<div>Username: <%= @user.username %><div>
<div>About yourself: <%= @user.user_desc %><div>
<img src="<%= @user.photo.url %>" alt="">
<% if @user.id != current_user.id %>
  <% if @user.following?(current_user.id, @user.id) %>
    <form class="" action="<%= follow_url(@follow.id) %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      
      <input type="hidden" name="follow[id]" value="<%= @follow.id %>">
      <input type="submit" name="" value="Unfollow">
    </form>
  <% else %>
    <form class="" action="<%= user_follows_url(@user.id) %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      
      <input type="submit" name="" value="Follow">
    </form>
  <% end %>
<% end %>
<ul>
  <% id = @user.id %>
  <li>
    <a href="<%= edit_user_url(@user) %>">Edit profile</a>
  </li>
  <li>
    <% link1 = "/users/" + @user.id.to_s + "/stories" %>
    <a href="<%= link1 %>">Stories</a>
  </li>
  <li>
    <% link2 = "/users/" + @user.id.to_s + "/comments" %>
    <a href="<%= link2 %>">Comments</a>
  </li>
  <li>
    <% link3 = "/users/" + @user.id.to_s + "/bookmarks" %>
    <a href="<%= user_bookmarks_url(@user.id) %>">Bookmarks</a>
  </li>
</ul>