<br>
<img src="<%= @story.banner_image.url %>" alt="">
<div>
  <%= @story.title %>
</div>
<div>
  <%= @story.content %>
</div>
<br>
<% if @story.user_id === current_user.id %>
  <a href="<%= edit_story_url %>">Edit</a>
  <button>
    <form class="" action="<%= story_url %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <input type="submit" name="" value="Delete">
    </form>
  </button>
<% end %>
<br>