<%= render partial: "show", locals: { story: @story } %>

<div class="">
  <div>
    <div><%= @story_likes.count %> likes for this story</div>
    <% if @story_liked %>
      <% url = story_like_url %>
      <% req_method = "delete" %>
      <% story_like_id = @like_id %>
    <% else %>
      <% url = story_story_likes_url(@story.id) %>
      <% req_method = "post" %>
      <% story_like_id = nil %>
    <% end %>

    <%= render partial: "likes/story_like_form", locals: { url: url, story_liked: @story_liked, like_id: story_like_id, story_or_comment: @story, method: req_method } %>
  </div>
  <div class="">Comment on this story</div>
  <%= render partial: "comments/form", locals: { url: story_comments_url(@story.id), method: "post"} %>
</div>

<div class="">Comments for story id <%= @story.id %></div>
<ul>
  <% @comments.each do |comment| %>
    <li>
      <div class=""><%= comment.content %></div>
      <div class="">by <a href="<%= user_url(comment.user.id) %>"><%= comment.user.username %></a></div>
      <div class="">
        <% comment_liked = comment.liked?(comment.id, current_user.id) %>
        <% if comment_liked %>
          <% url = comment_like_url %>
          <% req_method = "delete" %>
          <% comment_like_id = comment.like_id(comment.id, current_user.id) %>
        <% else %>
          <% url = comment_comment_likes_url(comment.id) %>
          <% req_method = "post" %>
          <% comment_like_id = nil %>
        <% end %>
        <%= render partial: "likes/comment_like_form", locals: { url: url, comment_liked: comment_liked, like_id: comment_like_id, story_or_comment: comment, method: req_method } %>
      </div>
    </li>
  <% end %>
</ul>